---
label: 'Creating or editing a help topic'
related:
  - config_help.help_topic_system
---
{% set help_main_url = render_var(url('help.main')) %}
{% set help_admin_url = render_var(url('entity.config_help.collection')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Create a new help topic or edit an existing topic.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the main <em>Manage</em> menu, navigate to <em>Configuration</em> &gt; <em>Development</em> &gt; <em><a href="{{ help_admin_url }}">Help topics</a></em>.{% endtrans %}</li>
  <li>{% trans %}Click <em>Add new help topic</em> to create a new topic, or <em>Edit</em> on an existing topic, to open the help topic editing form.{% endtrans %}</li>
  <li>{% trans %}Fill in the <em>Title</em> and <em>Body</em> fields.{% endtrans %}</li>
  <li>{% trans %}If the topic should be displayed directly on the main Help page, check the <em>Top-level topic</em> checkbox.{% endtrans %}</li>
  <li>{% trans %}Enter related topics, separated by commas, in the <em>Related topics</em> field. If this is not a top-level topic, it should list at least one top-level topic as related.{% endtrans %}</li>
  <li>{% trans %}Save your topic.{% endtrans %}</li>
  <li>{% trans %}View your topic, either directly from the <a href="{{ help_main_url }}">Help</a> page, or by first clicking on the top-level topic you added to the Related field.{% endtrans %}</li>
</ol>
