---
label: 'Building a help system'
top_level: true
related:
  - help.overview
---
{% set help_main_url = render_var(url('help.main')) %}
{% set help_admin_url = render_var(url('entity.config_help.collection')) %}
{% set topic_create = render_var(url('help.help_topic', {'id': 'config_help.help_topic_form'})) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Create a help system for different types/roles of users on your site to use.{% endtrans %}</p>
<h2>{% trans %}What are the types of help topics?{% endtrans %}</h2>
<p>{% trans %}Topics are either <em>plugin-based</em> or <em>configuration-based</em>. Plugin-based topics come from modules, themes, and installation profiles, and they cannot be edited in the administrative interface. Configuration-based topics are created by site builders, and can be edited in the administrative interface. In addition, some topics are <em>top-level</em>, meaning that they are visible directly on the <a href="{{ help_main_url }}">Help</a> page. Topics that are not top-level should be listed in the Related Topics section on other top-level topics.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}Plan your help system: make a list of the topics each type/role of user would benefit from.{% endtrans %}</li>
  <li>{% trans %}Assess the existing help topics. Configuration-based topics can be seen on the <a href="{{ help_admin_url }}">Help topics</a> administration page. The top-level topics of both types can be seen on from the main <a href="{{ help_main_url }}">Help</a> page.{% endtrans %}</li>
  <li>{% trans %}Create missing topics by following the steps on <a href="{{ topic_create }}">Creating or editing a help topic</a>. Be sure to make links between related topics, but be careful not to make links that would take people to topics not relevant to their roles and permissions on the site.{% endtrans %}</li>
  <li>{% trans %}For each role on your site that needs a help system, make a top-level topic with a title like "Help for content editors" (for the content editor role, in this case). Leave the body of this topic blank (or maybe provide a short introduction to what the role''s responsibilities are). List all the topics that the person needs to see in the <em>Related</em> field.{% endtrans %}</li>
  <li>{% trans %}Make sure that each role has the <em>Use the administration pages and help</em> permission, so that they will be able to see their help pages. Each top-level topic you add will be visible on the main <a href="{{ help_main_url }}">Help</a> page.{% endtrans %}</li>
</ol>
